photobox-image-preview {
  display: block;

  > .img-preview-container{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
        
    > img {
      position: relative;
    }
    
    > .menu {
    
      position: absolute;
      top: 5px;
      right: 5px;
      
      > i {
        background-color: white;
        opacity: 0.3;
        &:hover{
          opacity: 0.8;
        }
      }
      
      
    }
  
  }
  

}
