@import "../../bower/bower_components/bootstrap/less/bootstrap.less";
@import "../../bower/bower_components/fontawesome/less/font-awesome.less";
@import "variables.less";
@import "lookAndFeel.less";
@import "mixins.less";
@import "../../app/components/imagePreview/imagePreview.less";
@import "../../app/components/folderPreview/folderPreview.less";
@import "../../app/components/imageView/imageView.less";
@import "../../app/components/imageView/swipe/imageSwipe.less";
@import "../../app/folderView/folderView.less";
@import "../../app/pictureView/pictureView.less";


/* VARIABLES */
@fa-font-path: "../bower/bower_components/fontawesome/fonts";

body {
/*     padding-top: 1px; */
/*     padding-bottom: 20px; */
    position: relative;
}

.clickable{
	cursor: pointer;
}