.responsive-small(@rules) {
  @media (max-width: 400px) {
    @rules();
  }
}

.responsive-medium(@rules) {
  @media (min-width: 401px) and (max-width: 1000px) {
    @rules();
  }
}

.responsive-large(@rules) {
  @media (min-width: 1001px) {
    @rules();
  }
}

.responsive-medium-large(@rules){
  .responsive-medium(@rules);
  .responsive-large(@rules);
}
.padding-horizontal-media(){
  .responsive-large( {
    padding-left: 20px;
    padding-right: 20px;
  });
  .responsive-medium( {
    padding-left: 5px;
    padding-right: 5px;
  });
/*   .responsive-small( { */
/*     margin: 20px; */
/*   }); */
}

.padding-vertical-media(){
  .responsive-large( {
    padding-top: 20px;
    padding-bottom: 20px;
  });
  .responsive-medium( {
    padding-top: 5px;
    padding-bottom: 5px;
  });
/*   .responsive-small( { */
/*     margin: 20px; */
/*   }); */
}

.margin-horizontal-media(){
  .margin-horizontal-media(0, 5px, 20px);
}
.margin-horizontal-media(@small, @medium, @large){
  .responsive-small( {
    margin-left: @small;
    margin-right: @small;
  });
  .responsive-medium( {
    margin-left: @medium;
    margin-right: @medium;
  });
  .responsive-large( {
    margin-left: @large;
    margin-right: @large;
  });

}
.margin-vertical-media(){
	.margin-vertical-media(0, 5px, 20px)
}
.margin-vertical-media(@small, @medium, @large){
  .responsive-small( {
    margin-top: @small;
    margin-bottom: @small;
  });
  .responsive-medium( {
    margin-top: @medium;
    margin-bottom: @medium;
  });
  .responsive-large( {
    margin-top: @large;
    margin-bottom: @large;
  });

}

.font-size-small-media(){
	font-size: 1em;
	.responsive-medium( {
      font-size: 1em;
    });
    .responsive-large( {
      font-size: 1.1em;
    });
  
}