@border-color-navigation: #BDC3C9;

@background-color-navigation-mobile: rgba(239, 241, 243, 0.8);
@background-color-navigation-mobile-fallback: rgb(239, 241, 243);

@background-color-picture-view-full-screen: #2A1B0A;

@background-color-buttons: #2A1B0A;

@animation-duration-short: 180ms;
@animation-duration-medium: 300ms;