@color-error: #C01111;
@border-color-navigation: #BDC3C9;

@background-color-navigation-mobile: rgba(239, 241, 243, 0.8);
@background-color-navigation-mobile-fallback: rgb(239, 241, 243);

@background-color-picture-view-full-screen: #2A1B0A;

@background-color-buttons: #2A1B0A;

@background-color-image-navigation-button: rgba(255, 255, 255, 0.7);
@background-color-image-navigation-button-hover: rgba(255, 255, 255, 0.9);

@animation-duration-short: 180ms;
@animation-duration-medium: 300ms;

@navigation-height-small: 55px;
@navigation-height-medium: 60px;
@navigation-height-large: 80px;