<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">

	<display-name>Photobox</display-name>



	<!-- photobox -->
	<context-param>
		<param-name>ch.ahoegger.picturebox.original-directory</param-name>
		<param-value>D:/temp/max24h/webDev/photobook/smallWorking/original</param-value>
	</context-param>
	<context-param>
		<param-name>ch.ahoegger.picturebox.working-directory</param-name>
		<param-value>D:/temp/max24h/webDev/photobook/smallWorking/working</param-value>
	</context-param>
	<context-param>
		<param-name>ch.ahoegger.picturebox.dbLocation</param-name>
		<param-value>D:/temp/max24h/webDev/photobook/smallWorking/db</param-value>
	</context-param>

	<!-- quartz -->
	<context-param>
		<param-name>quartz:config-file</param-name>
		<param-value>quartz.properties</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:shutdown-on-unload</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:wait-on-shutdown</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>quartz:start-scheduler-on-load</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- SECURITY -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>public</web-resource-name>
			<url-pattern>/styles/main.css</url-pattern>
		</web-resource-collection>
		<!-- OMIT auth-constraint -->
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>photobox</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>photobox-user</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>

	<login-config>
		<auth-method>FORM</auth-method>
		<form-login-config>
			<form-login-page>/login/login.html</form-login-page>
			<form-error-page>/login/login-failed.html</form-error-page>
		</form-login-config>
	</login-config>

	<!-- LISTENERS -->
	<listener>
		<listener-class>ch.ahoegger.photobox.configuration.ConfigurationListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
	</listener>

	<!-- FILTERS -->
	<filter>
		<filter-name>SqlTransactionFilter</filter-name>
		<filter-class>ch.ahoegger.photobox.db.util.SqlTransactionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SqlTransactionFilter</filter-name>
		<url-pattern>/rest/*</url-pattern>
	</filter-mapping>

	<!-- SERVLETS -->
	<servlet>
		<servlet-name>static</servlet-name>
		<servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
		<init-param>
			<param-name>debug</param-name>
			<param-value>1</param-value>
		</init-param>
		<init-param>
			<param-name>listings</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>


	<!-- <servlet> -->
	<!-- <servlet-name>pictureServlet</servlet-name> -->
	<!-- <servlet-class>ch.ahoegger.photobox.servlet.PictureServlet</servlet-class> -->
	<!-- <init-param> -->
	<!-- <param-name>workingDirectory</param-name> -->
	<!-- <param-value>D:/temp/max24h/webDev/picturesWorking</param-value> -->
	<!-- </init-param> -->
	<!-- <init-param> -->
	<!-- <param-name>pictureDirectory</param-name> -->
	<!-- <param-value>D:/temp/max24h/webDev/pictures</param-value> -->
	<!-- </init-param> -->
	<!-- </servlet> -->
	<!-- <servlet-mapping> -->
	<!-- <servlet-name>pictureServlet</servlet-name> -->
	<!-- <url-pattern>/pictures/*</url-pattern> -->
	<!-- </servlet-mapping> -->

	<servlet>
		<servlet-name>ch.ahoegger.photobox.rest.PhotobookApplication</servlet-name>
		<servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
		<!-- <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class> -->
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>ch.ahoegger.photobox.rest.PhotobookApplication</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>ch.ahoegger.photobox.rest.PhotobookApplication</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>static</servlet-name>
		<url-pattern>/client/*</url-pattern>
	</servlet-mapping>




	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
