
.content{
  .navigation-padding-top();

  >.folders{

    photobox-folder-preview{
      .margin-vertical-media();
      overflow: auto;
      
      
      &.highlight {
        animation: borderMarker 2.82s cubic-bezier(.36,.07,.19,.97) both;
      }
      
      .responsive-small( {
        min-height: 30px;
    	});
    	.responsive-medium( {
          min-height: 50px;
    	});
    	.responsive-large( {
          min-height: 100px;
    	});
        
        
      .folder-title{
        .responsive-small({
          margin: 2px;
        });
         
        .responsive-medium({
          margin: 5px;
        });
          
        .responsive-large({
          margin: 5px;
        });
      }
        
      photobox-image-preview {
        float: left;
        
        > .img-preview-container .menu{
          display: none;
        }
             
        .responsive-small( {
          width: 60px;
          height: 60px;
          margin: 2px;
        });
          
        .responsive-medium( {
          width: 100px;
          height: 100px;
          margin: 5px;
        });
          
        .responsive-large( {
          width: 200px;
          height: 200px;
          margin: 5px;
        });
      }
    }
  }
  
  >.images{
    overflow: auto;
    
    photobox-image-preview {
      float: left;
      
      &.highlight {
      >div{
        animation: zoomInOut 2.82s cubic-bezier(.36,.07,.19,.97) both;
      }
/*       transform: translate3d(0, 0, 0); */
/*       backface-visibility: hidden; */
/*       perspective: 1000px; */
/*       box-shadow: inset 0px 0px 13px 0px rgba(26,19,43,1); */
/*         box-shadow: 0px 0px 13px 0px rgba(26,19,43,1); */
      }
    }
    
    .responsive-small( {
      *:nth-child(3n+4){
        clear: left;
      }
      photobox-image-preview {
        width: 33vw;
        height: 33vw;
        padding: 2px;
      }
    });
    .responsive-medium( {
      *:nth-child(5n+6){
        clear: left;
      }
      photobox-image-preview {
        width: 20vw;
        height: 20vw;
        padding: 5px;
      }
    });
    
    .responsive-large ( {
      *:nth-child(7n+8){
        clear: left;
      }
      photobox-image-preview {
        width: calc(~"100vw / 7");
        height: calc(~"100vw / 7");
        padding: 5px;
      }
    });
  }	
}

.back-navigation{
	.margin-horizontal-media();
	>i:before{
	  padding-right: 20px;
	}
}

