#picturebox-picture-view {
  height: 100vh;
  transition: background-color @animation-duration-medium ease-out;
    
  >.navigation{
    >.left{
      min-width: 30px;
      > i {
        font-size: medium;
      }
      .folder-name{
        .responsive-small({
          display: none;
        });
      }
    }
    > .right{
      >.tool-button {
        display: inline-block;
        width: 45px;
        padding: 2px;
        margin: 2px;
        text-align: center;
        background-color: @background-color-picture-view-full-screen;
        color: white;
        border-radius: 3px; 
        font-size: x-large;
        .responsive-small({
          padding: 5px;
          margin: 5px;
          width: 35px;
          font-size: large;
        });
      }
    }
    

  }
  
  >photobox-image-view{
    height: 100%;
    width: 100%;
  }
  >photobox-image-swipe{
    height: 100%;
    width: 100%;
  }
  
  
  &.full-screen {
    background-color: @background-color-picture-view-full-screen;

  }
	
}