#picturebox-picture-view {
  height: 100vh;
  transition: background-color @animation-duration-medium ease-out;
    
  >.navigation{
    >.center{

      >.image-name{
        white-space: nowrap;
        text-overflow: ellipsis;
         overflow: hidden; 
      }
    }
    >.left {
      min-width: 30px;
      > .back-navigation{
        > i {
//          font-size: medium;
        }
        .folder-name {
          .responsive-small({
            display: none;
          });
        }
      }
    }
    

  }
  
  >photobox-image-view{
    height: 100%;
    width: 100%;
  }
  >photobox-image-swipe{
    height: 100%;
    width: 100%;
  }
  
  
  &.full-screen {
    background-color: @background-color-picture-view-full-screen;

  }
  

	
}