<div id="picturebox-picture-view"
	ng-class="{'full-screen' : pictureViewController.fullScreen}">

	<photobox-image-swipe files="pictureViewController.folder.pictures"
		index="{{pictureViewController.index}}"
		image-selection="pictureViewController.handleImgClick"
		index-updated="pictureViewController.handleIndexUpdated">
	</photobox-image-swipe>

	<div class="navigation" ng-if="!pictureViewController.fullScreen")>
		<div class="left" ng-click="pictureViewController.navigateFolder()">
			<i class="fa fa-chevron-left clickable" aria-hidden="true"> </i> <span
				class="folder-name">{{pictureViewController.folder.name}}</span>

		</div>
		<div class="center">
			<div class="image-name">{{pictureViewController.image.name}}</div>
			<div class="image-date">{{pictureViewController.image.captureDate
				| date:'d MMM yyyy'}}</div>
		</div>
		<div class="right">
			<div class="tool-button clickable" ng-click="pictureViewController.handleHide()">
				<i class="fa fa-eye-slash" aria-hidden="true"></i>
			</div>
			<div class="tool-button clickable" ng-click="pictureViewController.handleRotateLeft()">
				<i class="fa fa-undo" aria-hidden="true"></i>
			</div>
			<div class="tool-button clickable" ng-click="pictureViewController.handleRotateRight()">
				<i class="fa fa-repeat" aria-hidden="true"></i>

			</div>
		</div>
	</div>
</div>